@{
    ViewBag.Title = "Detalhes do Produto";
    Business.Item produto = ViewBag.Produto;
    int iterador = 0;
}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/igorlino/elevatezoom-plus/1.1.6/src/jquery.ez-plus.js"></script>

<style>
    #imgProduto {
        display: flex;
        justify-content: left;
    }


    #infoProduto {
        justify-content: right;
    }
</style>

@{
    string imagemDoProduto = "/../UploadedFiles/" + produto.imgFile;
}

<h1>@produto.nome (@produto.categoria)</h1>
<hr />

<div style="display: flex; justify-content: space-around">
    <div><br /><img id="imagemDoProduto" data-zoom-image="@imagemDoProduto" src="@imagemDoProduto" width="75%" height="75%" /></div>

    <!---<div style="font-size: 14px; margin-left: 5px;">
        <@@{
            string valorCusto = produto.precoCusto.ToString();
            valorCusto = valorCusto.Replace(",", ".");

            string valorVenda = produto.precoVenda.ToString();
            valorVenda = valorVenda.Replace(",", ".");
        }>

        <b>Preço de custo:</b> <div id="precoCusto" name="precoCusto"><@@valorCusto</div><br /><br />
        <b>Preço de venda:</b> <div id="precoVenda" name="precoVenda"><@@valorVenda</div><br /><br />
        <b>Categoria do produto:</b> <@@produto.categoria<br /><br />
        <b>Quantidade em estoque:</b> <@@produto.qtdEstoque
    </div>-->
</div>

<div style="display: flex; justify-content: space-evenly">
    @{
        string valorCusto = produto.precoCusto.ToString();
        valorCusto = valorCusto.Replace(",", ".");

        string valorVenda = produto.precoVenda.ToString();
        valorVenda = valorVenda.Replace(",", ".");
    }

    <b>Preço de custo:</b> <div id="precoCusto" name="precoCusto">@valorCusto</div> |
    <b>Preço de venda:</b> <div id="precoVenda" name="precoVenda">@valorVenda</div> |
    <b>Categoria do produto:</b> <div>@produto.categoria</div> |
    <b>Quantidade em estoque:</b> @produto.qtdEstoque
</div>

<!---
<div id="infoProduto">
    Teste
</div>
<div id="imgProduto">
    <br /><a target="_blank" href="@imagemDoProduto"><img src="@imagemDoProduto" width="200px" height="200px" /></a>
</div>-->

<script>
    const valor = document.getElementById('precoCusto').textContent;
    const valorFormatado = Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(valor)
    document.getElementById('precoCusto').textContent = valorFormatado;

    const valorVenda = document.getElementById('precoVenda').textContent;
    const valorVendaFormatado = Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(valorVenda)
    document.getElementById('precoVenda').textContent = valorVendaFormatado;
</script>

<script>
    $("#imagemDoProduto").ezPlus();
</script>