@{
    ViewBag.Title = "Detalhes do Produto";
    Business.Item produto = ViewBag.Produto;
    Business.Conta conta = ViewBag.ContaLogada;
    int iterador = 0;
    string disponibilidade = "";
    string imgDisponibilidade = "";
    string destaqueVermelho = "";
    double valorVendaTotal = 0;
}

<h1>@conta.usuario</h1>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/igorlino/elevatezoom-plus/1.1.6/src/jquery.ez-plus.js"></script>

<style>
    #imgProduto {
        display: flex;
        justify-content: left;
    }


    #infoProduto {
        justify-content: right;
    }
</style>

@{
    string imagemDoProduto = "/../UploadedFiles/" + produto.imgFile;

    if(produto.qtdEstoque > 0)
    {
        disponibilidade = "Disponível";
        imgDisponibilidade = "/../UploadedFiles/src/disponivel.png";
    }
    else
    {
        disponibilidade = "Indisponível";
        imgDisponibilidade = "/../UploadedFiles/src/indisponivel.png";
        destaqueVermelho = "color: red;";
    }
}

<div style="display: flex; justify-content:  initial">
    <h1>@produto.nome&nbsp;</h1>
    <h3>(@disponibilidade <img src="@imgDisponibilidade" width="6%" />)</h3>
</div>
<hr />

<label style="color:gray;">Passe o mouse sobre a imagem para uma maior análise ou clique nela</label>
<form>
    <input type="text" name="produto" id="produto" value="@produto.nome" />
    <input type="text" name="valorProduto" id="valorProduto" value="@produto.precoVenda" />
    <div class="input-group mb-3" style="margin-left: 768px;">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Quantidade</span>
        </div>
        <input type="text" id="qtdProduto" name="qtdProduto" class="form-control" onblur="testeLesgo()" maxlength="3" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>
    <input type="text" name="idCliente" id="idCliente" value="@conta.id" />
    <input type="text" name="nomeCliente" id="nomeCliente" value="@conta.usuario" />
    <input type="text" name="valorVendaTotal" id="valorVendaTotal" />
    <input type="text" name="dataVenda" id="dataVenda" />

    <button type="button" class="btn btn-success btn-lg btn-xs" style="margin-left: 1047px;">Comprar</button>
</form>
<div>
    <div><br /><a target="_blank" href="@imagemDoProduto"><img id="imagemDoProduto" data-zoom-image="@imagemDoProduto" src="@imagemDoProduto" width="50%" height="50%" /></a></div><br />
</div>

    @{
        string valorCusto = produto.precoCusto.ToString();
        valorCusto = valorCusto.Replace(",", ".");

        string valorVenda = produto.precoVenda.ToString();
        valorVenda = valorVenda.Replace(",", ".");
    }

    <b>Preço de custo:</b> <div style="font-size: 13px;" id="precoCusto" name="precoCusto">@valorCusto</div><br />
    <b>Preço de venda:</b> <div style="font-size: 13px;" id="precoVenda" name="precoVenda">@valorVenda</div><br />
    <b>Categoria do produto:</b> <div style="font-size: 13px;">@produto.categoria</div><br />
    <b>Quantidade em estoque:</b> <div style="font-size: 13px; @destaqueVermelho">@produto.qtdEstoque</div><br />
    


<!---
<div id="infoProduto">
    Teste
</div>
<div id="imgProduto">
    <br /><a target="_blank" href="@imagemDoProduto"><img src="@imagemDoProduto" width="200px" height="200px" /></a>
</div>-->

<script>
    const valor = document.getElementById('precoCusto').textContent;
    const valorFormatado = Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(valor)
    document.getElementById('precoCusto').textContent = valorFormatado;

    const valorVenda = document.getElementById('precoVenda').textContent;
    const valorVendaFormatado = Intl.NumberFormat('pt-br', { style: 'currency', currency: 'BRL' }).format(valorVenda)
    document.getElementById('precoVenda').textContent = valorVendaFormatado;
</script>

<script>
    $("#imagemDoProduto").ezPlus();

    function testeLesgo() {
        var valorVendaTotal = document.getElementById('valorProduto').value;
        var qtd = document.getElementById('qtdProduto').value;
        var valorVendaTotal = valorVenda * qtd;
        document.getElementById('valorVendaTotal').value = valorVendaTotal;
    }
</script>

<script>
    $().ready(function () {
        var d = new Date();
        var ano = d.getFullYear();
        var mes = d.getMonth();
        var dia = d.getDay();
        mes = mes + 1;
        dia = dia + 1;
        var dataCompleta = ano + "-" + mes + "-" + dia;
        document.getElementById('dataVenda').value = dataCompleta;
        console.log(document.getElementById('dataVenda').value);
    });
</script>